.create-a-spot-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-a-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Avenir";
}

.create-form-container {
    display: flex;
    justify-content: center;
}

.form-labels {
    margin: 7px 0 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

#form-split-one {
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#spot-description {
    resize: none;
    font-family: "Avenir";
}

.spot-img-urls {
    margin: 8px 0px;
}

#create-spot-submit-button {
    align-self: center;
    width: 150px;
    background-color: #ff0000;
    color: white;
    padding: 12px 0px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 700;
}

#create-spot-submit-button:hover {
    background-color: #b30000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
